@import '../var/presets.scss';

.workspaces {
    .workspace > box {
        transition-property: background, color, min-width;
        transition-duration: 100ms;
        transition-timing-function: linear;

        min-width: 10px;
        min-height: 10px;

        padding: 5px;
        margin: 0px 3px;

        background: $bg-light;
        color: $bg-light;
    }

    .occupied > box {
        background: $accent2;
        color: $accent2;
    }

    .active > box {
        min-width: 20px;

        background: $accent;
        color: $accent;
    }
}
