@import '../var/presets.scss';

.media {
    /* padding causes a block to show when no players are active */
    /* background: $bg-dark; */
    /* padding: 0px 15px 15px 15px; */

    .player {
        /* work around for block showing */
        border-width: 0px 20px 20px 20px;
        border-color: $bg-dark;
        border-style: solid;

        padding: 10px;
        background: $bg-light;
        .cover {
            border: 2px solid $accent;
        }

        .length,
        .position.label,
        .artists {
            font-weight: $font-weight-normal;
            font-size: $font-size-small;
            color: $subtext;
        }

        .buttons {
            button {
                padding: 3px;
                margin: 0px -4px;
                transition: color 200ms ease-in-out 0s;

                &:hover {
                    image {
                        color: mix($accent, white, 40%);
                    }
                }
            }
        }

        .position.slider {
            margin: 5px 0px;

            trough {
                box-shadow: 1px 0px 2px -1px $accent;
                border-radius: 16px;

                min-width: 70px;
                min-height: 10px;
                margin-right: 5px;
            }

            highlight {
                border-radius: 16px;
                background: linear-gradient(
                    90deg,
                    $slider-1 0%,
                    $slider-2 70%,
                    $slider-3 5000%
                );
            }
        }
    }
}
