@import '../var/presets.scss';
@import './menus.scss';

.network {
  &.bar {
    label {
      padding-left: 5px;
    }
  }

  &.menu {
    @include menu;

    .content {
      button {
        transition: background 150ms ease-in-out 0s;
        padding: 5px;

        &:hover {
          background: mix($bg-light, $bg-dark, 10%);
        }

        .signal {
          margin-right: 5px;
        }

        .ap-name {
          font-weight: $font-weight-normal;
        }
      }
    }
  }
}
