$cat-rosewater: #f5e0dc;
$cat-flamingo: #f2cdcd;
$cat-pink: #f5c2e7;
$cat-mauve: #cba6f7;
$cat-red: #f38ba8;
$cat-maroon: #eba0ac;
$cat-peach: #fab387;
$cat-yellow: #f9e2af;
$cat-green: #a6e3a1;
$cat-teal: #94e2d5;
$cat-sky: #89dceb;
$cat-sapphire: #74c7ec;
$cat-blue: #89b4fa;
$cat-lavender: #b4befe;
$cat-text: #cdd6f4;
$cat-subtext1: #bac2de;
$cat-subtext0: #a6adc8;
$cat-overlay2: #9399b2;
$cat-overlay1: #7f849c;
$cat-overlay0: #6c7086;
$cat-surface2: #585b70;
$cat-surface1: #45475a;
$cat-surface0: #313244;
$cat-base: #1e1e2e;
$cat-mantle: #181825;
$cat-crust: #11111b;
