/* Remove the close window button and spacer */
.titlebar-spacer,
.titlebar-buttonbox-container {
    display: none !important;
}

/* tab stuff */
.tab-background {
    border-radius: var(--border-px) !important;
    min-height: 0 !important;
}
.tabbrowser-tab[fadein] {
    max-width: 100vw !important;
}
.tab-text {
    margin: 0 auto !important;
}
